.navbarContainer {
    position: fixed;
    top: 0;
    width: 100vw;
    height: 7rem;
    background-color: transparent;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 51;
    transition: background-color 0.6s ease-in-out;
    transition-delay: 0.3s;
}
.menuOpen {
    width: 100vw;
    position: fixed;
    top: 7rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #122222;
    color: #a89d7a;
    transform: translateY(-140%);
    transition: transform 1.2s ease-in-out;
    z-index: 50;
}
.background {
    background-color: #122222;
    transition: background-color 0.6s ease-in-out;
}
.bg {
    background-color: #122222;
}
.opened {
    transform: translateY(0%);
}
.first, .second {
    display: none;
}
.drop-menu {
    position: relative;
    cursor: pointer;
}
.dropped-menu {
    position: absolute;
    top: 28px;
    left: -16px;
    width: 150px;
    background-color: #122222;
    color: #a89d7a;
    display: none;
}
.drop-menu h1:focus + .dropped-menu,
.drop-menu h1:hover + .dropped-menu,
.drop-menu .dropped-menu:hover {
    display: flex;
    flex-direction: column;
}
@media only screen and (min-width: 1024px) {
    .first, .second {
        display: block;
    }
    .navbarContainer {
        background-color: transparent;
        transition: background-color 0.6s ease-in-out;
    }
    .background {
        color: #a89d7a;
        background-color: #122222;
        transition: background-color 0.6s ease-in-out;
    }
}
