@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "FourSignature";
    src: url('./public/fonts/FourSignature.ttf');
}
@font-face {
    font-family: "MyriadProRegular";
    src: url('./public/fonts/MyriadProRegular.ttf');
}